@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');


body {
  padding-top: 70px;
  background-color: #90939B;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#landing {
  height: 100vh;
  background: url(../images/design5.png) no-repeat;
  background-size: cover;

}

.navbar .navbar-nav {
  display: flex;
  justify-content: space-around;
  float: none;
  vertical-align: top;
  background-color: #7CB518;
  border-bottom: 1px solid #050916;
}

.navbar-default .navbar-nav>li>a {
  font-family: 'Open Sans', sans-serif;
  color: #FBFAF8;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #3E5C76;
}

#portfolio h2 {
  font-family: 'Lato', sans-serif;
  color: #FBFAF8;
}

.to-github {
  font-family: 'Lato', sans-serif;
  color: #FBFAF8;

}

.caption {
  font-family: 'Raleway', sans-serif;
}
#contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#contact ul li {
  display: inline;
  padding: 20px;

}

#contact ul li img {
  height: 80px;
  width: 80px;
}


